<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Conner Ow (LeviathanProgramming)">
  <meta property="og:description" content="Conner Ow is a teen fullstack developer who is trying to build up his portfolio and get a job as a freelancer.">
  <meta property="og:url" content="https://connerow.dev">
  <meta property="og:image" content="/files/frontpage.png">
	<meta property="og:image:type" content="image/png"/>
	<meta property="og:image:width" content="2650"/>
	<meta property="og:image:height" content="1178"/>
  <meta name="copyright" content="2021">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About Me | Conner Ow</title>
  <link href="/files/style.css" rel="stylesheet" type="text/css" />
  <link href="/files/dragon-icon.svg" rel="icon" type="text/css" />
  <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
  <div id="navbar" class="nav-hide">
    <a href="/">
      <div class="navlink"><i data-feather="home"></i> Home</div>
    </a>
    <a href="/about">
      <div class="navlink"><i data-feather="info"></i> About Me</div>
    </a>
    <a href="/work">
      <div class="navlink"><i data-feather="monitor"></i> Work</div>
    </a>
    <a href="/blog">
      <div class="navlink"><i data-feather="list"></i> Blog</div>
    </a>
    <a href="/hire">
      <div class="navlink"><i data-feather="code"></i> Hire Me</div>
    </a>
    <a href="/contact">
      <div class="navlink"><i data-feather="phone"></i> Contact</div>
    </a>
  </div>
  <div id="nav-btn" class="btn-out" onclick="toggleNav()">
    <i data-feather="menu" id="menu-icon-nav"></i>
  </div>

  <div>
    <h1>About Me</h1>
    <h3>Who I am</h3>
    <p>I am a fifteen-year-old Christian homeschooler that graduated high school at the age of 14.  My name is Conner Ow (pernounced "ow" as if you got hurt) and I am usually known accross the internet as "LeviathanProgramming".</p>
    <p>I live way out in the country in Texas and really enjoy that way of life as well of just chilling out in front of the computer screen and coding.  That's why I'm a redneck fullstack web developer.</p>
  </div>
  <div style="background: var(--bg-4);">
    <svg viewbox="0 0 800 300" fill="var(--bg-5)">
      <path d="M 0 0 L 0 50 Q 150 50 250 150 Q 350 300 600 150 Q 700 50 800 200 L 800 0 L 0 0 "/>
    </svg>
    <h3>How I started coding</h3>
    <p>My mom's midwife, who had come to help her deliver my little brother, introduced me to <a href="https://khanacademy.org/">Khan Academy</a>.  I got really interested in programming and started to make small games, drawing, and other things of no apparent use on there.  That was when I decided to become a programmer.  After about a year of playing around with that, I moved on to <a href="https://freecodecamp.org/">FreeCodeCamp</a>.  That site was the main source of learning I had.  I learned so much from there.</p>
    <p>Skip ahead a couple of years and you'll find me learning a lot of coding concepts and trying to expand my knowledge.  I still am constantly trying to learn and build.</p>
    <p>All thanks to my little brother.</p>
  </div>
  <div>
    <svg viewbox="0 0 800 300" fill="var(--bg-4)">
      <path d="M 0 0 L 0 200 Q 100 100 250 150 Q 400 250 600 150 Q 750 0 800 50 L 800 0 L 0 0 "/>
    </svg>
    <h3>Hobbies / Interests</h3>
    <p>For hobbies, the number one thing I like to do is Coding.  In my free time, I like to mess around with code and learn from plain trial and error, make little templates, visulizations, etc.  I really love competing in Hackathons (coding competitions) and those taught me a lot.</p>
    <p>I enjoy Carpentry - particularly for the purpose of making wooden swords, Jiu-Jitsu - A martial art sort of like wrestling, Drawing, Rubick's Cubes, Experimenting with explosives, reading Lord of the Rings, and more.</p>
  </div>
  <div style="background: var(--bg-4);padding-bottom: 100px;">
    <svg viewbox="0 0 800 250" fill="var(--bg-5)">
      <path d="M 0 0 L 0 100 Q 250 50 400 100 Q 600 200 800 200 L 800 0 L 0 0 "/>
    </svg>
    <h3>Current Occupation</h3>
    <p>Right now, I'm trying to get a freelancer job as well as studying for some CompTIA certificates.  I'm open for making websites for people at an affordable price.  Ready to get your website going?</p>
    <a href="/hire"><button class="submit xcenter-rel w-80" style="margin:50px 0 0 0;">Hire Me</button></a>
  </div>
  <div>
    <svg viewbox="0 0 800 150" fill="var(--bg-4)">
      <path d="M 0 0 L 0 50 Q 250 100 400 100 Q 550 100 800 50 L 800 0 L 0 0"/>
    </svg>
    <h3>Skills / Tech I use</h3>
    <div id="skill-grid" class="xcenter-rel">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/html5.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/css3.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/javascript.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/python.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/node-dot-js.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/codepen.svg" style="background: white;">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/googlechrome.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/visualstudiocode.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/google.svg">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/fontawesome.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/git.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/npm.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/heroku.svg">
      <img src="https://uploads-ssl.webflow.com/5de176bfd41c9b0a91bbb0a4/611449cdf061506c48ab8ade_qovery_square_new_logo.svg">
      <img src="https://www.vectorlogo.zone/logos/mongodb/mongodb-icon.svg">
      <img src="/files/replit.svg">
      <img src="https://icons.util.repl.co/bash.svg">
      <img src="/files/jsdelivr.png">
      <img src="/files/p5.png">
    </div>

  </div>

  
  <script src="/files/script.js"></script>
</body>

</html>