<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Conner Ow (LeviathanProgramming)">
  <meta property="og:description" content="Conner Ow is a teen fullstack developer who is trying to build up his portfolio and get a job as a freelancer.">
  <meta property="og:url" content="https://connerow.dev">
  <meta property="og:image" content="/files/frontpage.png">
	<meta property="og:image:type" content="image/png"/>
	<meta property="og:image:width" content="2650"/>
	<meta property="og:image:height" content="1178"/>
  <meta name="copyright" content="2021">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About Me | Conner Ow</title>
  <link href="/files/style.css" rel="stylesheet" type="text/css" />
  <link href="/files/dragon-icon.svg" rel="icon" type="text/css" />
  <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
  <div id="navbar" class="nav-hide">
    <a href="/">
      <div class="navlink"><i data-feather="home"></i> Home</div>
    </a>
    <a href="/about">
      <div class="navlink"><i data-feather="info"></i> About Me</div>
    </a>
    <a href="/work">
      <div class="navlink"><i data-feather="monitor"></i> Work</div>
    </a>
    <a href="/blog">
      <div class="navlink"><i data-feather="list"></i> Blog</div>
    </a>
    <a href="/hire">
      <div class="navlink"><i data-feather="code"></i> Hire Me</div>
    </a>
    <a href="/contact">
      <div class="navlink"><i data-feather="phone"></i> Contact</div>
    </a>
  </div>
  <div id="nav-btn" class="btn-out" onclick="toggleNav()">
    <i data-feather="menu" id="menu-icon-nav"></i>
  </div>

  <div>
    <h1>About Me</h1>
    <h3>Who I am</h3>
    <p>My name is Conner Ow (pronounced ‘ow’ like when you get hurt).  I am usually known across the internet as "LeviathanProgramming."  I am a sixteen-year-old Christian homeschooler who graduated high school at the age of fourteen.  I love living in the countryside and really enjoy the quietness and all of the farm animals.</p>
    <p>Besides programming, I love carpentry.  One of my favorite projects is design and make swords out of recycle wood.  
      I enjoy drawing, solving puzzles, algorithms, competing in programming, and reading Lord of the Rings.  
      Something else I like to do is Brazilian Jiu-jitsu.  This keeps me active and challenges me in a very different kind of way.  It is a martial art sort of like wrestling.</p>
  </div>
  <div style="background: var(--bg-4);">
    <svg viewbox="0 0 800 300" fill="var(--bg-5)">
      <path d="M 0 0 L 0 50 Q 150 50 250 150 Q 350 300 600 150 Q 700 50 800 200 L 800 0 L 0 0 "/>
    </svg>
    <h3>My Programming Journey</h3>
    <p>My passion for programming started at the age of eleven.  My mom’s midwife, who delivered my little brother, introduced me to <a href="https://khanacademy.org/">Khan Academy</a>.  After having completed almost all of the courses on there, I moved on to <a href="https://freecodecamp.org">Free Code Camp</a>.  That was the site where I gained most of my skills.  It is absolutely amazing because there are tons of certified languages to learn.   The professionals and the teachers are also very eager to help and share their experiences.  
    </p>
    <p><a href="https://www.codecademy.com/">Code Academy</a> and Udemy are also great sites for programmers to learn different mechanics and techniques.    If you don’t want to spend the monthly fees, there are lots of free courses you can learn from and use.  </p>
    <p>Currently I am using Udemy and Pluralsight to get my CompTIA certifications.  Since I just started I will review those sites later.  
    </p>
    <p>
      When I am not learning languages, I will spend my time solving algorithms.  One of the sites I use for algorithm competition is codingame.com.  The goal is to solve as many algorithms as you can as fast and as efficiently as you can.  The more you do, the higher you move on the leaderboard.   </p>
      <p>For programming competitions, I use devpost.com.  There are competitions of all sorts you can join and compete in.  This really teaches you how to manage your time well, work with your teammates, and put everything you have learned into real life projects.  
      </p>
  </div>
  <div>
    <svg viewbox="0 0 800 150" fill="var(--bg-4)">
      <path d="M 0 0 L 0 50 Q 250 100 400 100 Q 550 100 800 50 L 800 0 L 0 0"/>
    </svg>
    <h3>Skills / Tech I use</h3>
    <div id="skill-grid" class="xcenter-rel">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/html5.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/css3.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/javascript.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/python.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/node-dot-js.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/codepen.svg" style="background: white;">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/googlechrome.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/visualstudiocode.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/google.svg">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/fontawesome.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/git.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/npm.svg">
      <img src="https://github.com/Steffan153/Steffan153/raw/main/icons/heroku.svg">
      <img src="https://uploads-ssl.webflow.com/5de176bfd41c9b0a91bbb0a4/611449cdf061506c48ab8ade_qovery_square_new_logo.svg">
      <img src="https://www.vectorlogo.zone/logos/mongodb/mongodb-icon.svg">
      <img src="/files/replit.svg">
      <img src="https://icons.util.repl.co/bash.svg">
      <img src="/files/jsdelivr.png">
      <img src="/files/p5.png">
    </div>

  </div>

  
  <script src="/files/script.js"></script>
</body>

</html>